.header {
  border-bottom: 1px solid var(--border-cards);

  .cont {
    display: inline-flex;
  }

  .icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 0;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-span {
  color: var(--accent-color);
}
.logo-white {
  color: var(--primary-white-color);
}

.site-nav {
  display: flex;

  .item:first-child {
    margin-left: 93px;
  }

  .item + .item {
    margin-left: 50px;
  }

  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .link + .link {
    margin-left: 50px;
  }

  .link.current {
    color: var(--accent-color);
  }
}

.contacts-nav .item + .item {
  margin-left: 30px;
}

.contacts-nav .cont {
  display: flex;
  align-items: center;
}

.link.current {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
